<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">My Portfolio</h1>
    <p class="lead text-muted">View some of the projects I have worked on</p>
    <p>
      <%= link_to "Find Out More About Me", about_me_path, class: "btn btn-primary" %>
      <%= link_to "Link to My Blog", blogs_path, class: "btn btn-secondary" %>
    </p>
  </div>
</section>
