<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">I'm a backend engineering student at the Turing School of
    Software &amp; Design.<br/> I developed this site following the Ruby on Rails 5
    tutorial on Udemy.com.
  </p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
